{% extends "base.html" %} {% block title %}Contact{% endblock %} {% block
scripts %}
<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: "#vue-app",
    delimiters: ["[[", "]]"],
    data() {
      return {
        email: "",
        issueHeader: "",
        issueDescription: "",
      };
    },
    methods: {
      submit(email, issueHeader, issueDescription) {
        $.ajax({
          type: "POST",
          url: "/contact",
          data: JSON.stringify({
            email: this.email,
            issueHeader: this.issueHeader,
            issueDescription: this.issueDescription,
          }),

          contentType: "application/json",
          dataType: "json",
        }).done(function (response) {
          if (response.error != 0) {
          }
        });
      },
    },
  });
</script>
{% endblock %} {% block content %}
<style type="text/css">
  #box {
    border: 5px solid;
    border-image: linear-gradient(#84a8ac, #85a18a);
    border-radius: 25px;
  }

  .submitBtn {
    background: linear-gradient(
      180deg,
      #000000 -14.74%,
      rgba(41, 41, 41, 0.6) 132.63%
    );
    box-shadow: 6.19761px 3.54149px 16.8221px rgba(0, 0, 0, 0.54);
    width: 6em;
    height: 2.5em;
    border-radius: 0.5em;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: -0.017em;
    margin: auto;
  }
</style>
<div id="vue-app">
  <div
    style="text-align: center; max-width: 75%; margin: auto"
    class="container card"
    id="box"
  >
    <h1 style="color: black !important" class="navbar-brand">
      Contact Support
    </h1>
    <p>Contact our support team here if you come across any issues</p>
    <input
      type="email"
      style="margin-bottom: 25px"
      class="form-control"
      placeholder="Contact Email"
      v-model="email"
    />
    <input
      type="text"
      style="margin-bottom: 25px"
      class="form-control"
      placeholder="Issue Heading"
      v-model="issueHeader"
    />
    <textarea
      style="min-height: 300px; margin-bottom: 25px"
      class="form-control"
      placeholder="Type your issue here."
      v-model="issueDescription"
    ></textarea>
    <button
      class="submitBtn"
      style="border: 0; text-align: center !important"
      @click="submit(email,issueHeader,issueDescription)"
    >
      Submit
    </button>
  </div>
</div>

{% endblock %}
