{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style type="text/css">
  .background {
    background-image: url("{{ url_for('static', filename='images/formbg.png') }}");
  }
</style>
<main>
  <br />
  <h1 class="navbar-brand sign-up-heading">Sign In</h1>
  <p class="nav-item px-1" style="color: white !important; text-align: center">
    New to GeoRepair?
    <a href="/signup" style="color: #4e7e7e; text-decoration: none"
      >Create an account here!</a
    >
  </p>
  <div
    class="sign-up-wrapper"
    style="margin: auto; text-align: center; width: 50%"
  >
    <form method="post" action="/login" novalidate class="sign-up-grad">
      <br />
      {{login_form.hidden_tag()}}

      <img
        src="{{ url_for('static', filename='images/person.svg') }}"
        class="sign-up-icon"
      />
      <span class="text-wrapper">
        {{login_form.username(size=32, class = "text-input", placeholder =
        "Username")}}
        <span class="text-border"></span>
      </span>
      <br /><br />

      <img
        src="{{ url_for('static', filename='images/key.svg') }}"
        class="sign-up-icon"
      />
      <span class="text-wrapper">
        {{login_form.password(size=32, class = "text-input", placeholder =
        "Password")}}
        <span class="text-border"></span>
      </span>
      <br />
      <br />

      {% if error %}
      <p style="color: red">Incorrect username or password</p>
      {% endif %} {{login_form.submit(class="btn nav-button flask-buttonrect
      sign-up-btn", style="margin:auto !important;")}}<br />
    </form>
  </div>
</main>
{% endblock %}
