{% extends "base.html" %} {% block title %}Sign-up{% endblock %} {% block
content %}
<style type="text/css">
  .background {
    background-image: url("{{ url_for('static', filename='images/formbg.png') }}");
  }
</style>
<main>
  <br />
  <h1 class="navbar-brand sign-up-heading">Sign Up</h1>
  <p class="nav-item px-1" style="color: white !important; text-align: center">
    Already have a GeoRepair account?
    <a href="/login" style="color: #4e7e7e; text-decoration: none"
      >Log In here!</a
    >
  </p>
  <div
    class="sign-up-wrapper"
    style="margin: auto; text-align: center; width: 50%"
  >
    <form method="post" action="/signup" novalidate class="sign-up-grad">
      <br />
      {{signup_form.hidden_tag()}}

      <img
        src="{{ url_for('static', filename='images/person.svg') }}"
        class="sign-up-icon"
      />
      <span class="text-wrapper">
        {{signup_form.username(size=32, id = "username", class = "text-input",
        placeholder = "Username")}}
        <span class="text-border"></span>
      </span>
      <br /><br />
      <img
        src="{{ url_for('static', filename='images/key.svg') }}"
        class="sign-up-icon"
      />
      <span class="text-wrapper">
        {{signup_form.password(size=32, id = "password1", class = "text-input",
        placeholder = "Password")}}
        <span class="text-border"></span>
      </span>
      <p
        class="nav-item px-1"
        style="color: #999999 !important; font-size: 15px"
      >
        (6 or more characters)
      </p>
      <img
        src="{{ url_for('static', filename='images/key.svg') }}"
        class="sign-up-icon"
      />
      <span class="text-wrapper">
        {{signup_form.confirm_password(size=32, id = "password2", class =
        "text-input", placeholder = "Confirm Password")}}
        <span class="text-border"></span>
      </span>
      <br /><br />

      {% if usererror %}
      <p style="color: red">Username already exists</p>
      {% endif %} {% if emailerror %}
      <p style="color: red">Email already in use</p>
      {% endif %} {% if notallowed %}
      <p style="color: red">Passwords must match</p>
      {% endif %} {% if passlength %}
      <p style="color: red">Password length must be greater than 6</p>
      {% endif %} {{signup_form.submit(class="btn nav-button flask-buttonrect
      sign-up-btn", id="submit", style="margin:auto !important;")}}<br />
    </form>
  </div>
</main>
{% endblock %}
