<!DOCTYPE HTML>
<html>
<head>
  <title>RODAN - Home</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta name="viewport" content="width=device-width", initial-scale=1.0/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/style/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="main">
    <div id="header">
      <div id="logo" style="margin: auto;">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">RO<span class="logo_colour">DAN</span></a></h1>
          <h2><span class="logo_colour">RO</span>ad safety <span class="logo_colour">D</span>evice for <span class="logo_colour">A</span>ccident preventio<span class="logo_colour">N</span></h2>
          <h2>Let's make this world a safer and better place to drive in.</h2>
          <h2>RODAN can generate alerts and help take preventive measures and proactive actions.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="/logs">Logs</a></li>
          <li><a href="/buy">Buy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="data" style="text-align: center;">
        <h3>Device# RDN1 <img width="20" height="20" src="/static/images/alert.png" alt="Alerts"> No Critical Incident Reported!</h3>
        <h2><img width="20" height="20" src="/static/images/regular_incidents.png" alt="Alerts">Current Traffic Situation.</h2>
        <table style="margin-left: auto; margin-right: auto;" class="border-none">
            <thead>
                <tr>
                <th><img width="30" height="30" src="/static/images/date.png" alt="Date">
                </th>
                <th><img width="30" height="30" src="/static/images/event.png" alt="Event"></th>
                <th><img width="30" height="30" src="/static/images/city.png" alt="City"></th>
                <th><img width="30" height="30" src="/static/images/counter.png" alt="Total"></th>
                </tr>
            </thead>
            <tbody id="tbodydata">
                {% for record in agg_result %}
                    <tr>
                        <td height="30">{{ format_date(record["_id"]["date"]) }}</td>
                        <td height="30">{{ record["_id"]["event"] }}</td>
                        <td height="30">{{ record["_id"]["location"][2] }}, {{ record["_id"]["location"][4] }} {{ record["_id"]["location"][5] }}</td>
                        <!-- <td height="30">{{ record["_id"]["location"]}}</td> -->
                        <td height="30">{{ record["total"] }}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        <script>
            globalThis.socket = io();
            socket.on("events", function(events) {
                document.getElementById("tbodydata").innerHTML = "";
                for (let event of events) {
                    let row = document.createElement("tr");
                    let date = document.createElement("td");
                    let event_type = document.createElement("td");
                    let location = document.createElement("td");
                    let total = document.createElement("td");
                    let date_lst = event._id.date.split("-");
                    date.innerHTML = event._id.date.split("-");
                    date.innerHTML = `${date_lst[1].trim("0")}/${date_lst[2]}/${date_lst[0]}`;
                    date.height = 30;
                    event_type.innerHTML = event._id.event;
                    event_type.height = 30;
                    location.innerHTML = `${event._id.location[2]}, ${event._id.location[4]} ${event._id.location[5]}`;
                    location.height = 30;
                    total.innerHTML = event.total;
                    total.height = 30;
                    row.appendChild(date);
                    row.appendChild(event_type);
                    row.appendChild(location);
                    row.appendChild(total);
                    document.getElementById("tbodydata").appendChild(row);
                }
                console.log(events);
            });
        </script>
    </div>
  </div>
</body>
</html>
