<!DOCTYPE HTML>
<html>
<head>
  <title>RODAN - Home</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta name="viewport" content="width=device-width", initial-scale=1.0/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/style/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="main">
    <div id="header">
      <div id="logo" style="margin: auto;">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">RO<span class="logo_colour">DAN</span></a></h1>
          <h2><span class="logo_colour">RO</span>ad safety <span class="logo_colour">D</span>evice for <span class="logo_colour">A</span>ccident preventio<span class="logo_colour">N</span></h2>
          <h2>Let's make this world a safer and better place to drive in.</h2>
          <h2>RODAN can generate alerts and help take preventive measures and proactive actions.</h2>
        </div>
      </div>
      <br>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/logs">Logs</a></li>
          <li><a href="/buy">Buy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div id="site_content">
        <div id="content" style="text-align: center;">
          <p style="font-size: 1.5vw;">Device# RDN1 <img width="20" height="20" src="/static/images/alert.png" alt="Alerts"> No Critical Incident Reported!</p>
          <p style="font-size: 1.5vw;"><img width="20" height="20" src="/static/images/regular_incidents.png" alt="Alerts">Current Traffic Situation.</p>
          <table style="margin-left: auto; margin-right: auto; text-align: center;" class="border-none">
            <thead>
              <tr>
                <th><img width="30" height="30" src="/static/images/date.png" alt="Date"></th>
                <th><img width="30" height="30" src="/static/images/event.png" alt="Event"></th>
                <th><img width="30" height="30" src="/static/images/city.png" alt="City"></th>
                <th><img width="30" height="30" src="/static/images/counter.png" alt="Total"></th>
              </tr>
            </thead>
            <tbody id="tbodydata" style="text-align: center"><tbody>
          </table>
          <script>
            globalThis.socket = io();
            function refreshData(events) {
              let tbodydata = document.getElementById("tbodydata")
              if (events.length == 0) {
                let message = document.createElement("p");
                message.innerText = "No data available.";
                message.id = "nodatamessage";
                tbodydata.parentElement.parentElement.appendChild(message);
                return;
              }
              if (document.getElementById("nodatamessage") != null) {
                document.getElementById("nodatamessage").remove();
              }
              tbodydata.innerHTML = "";
              for (let event of events) {
                let row = document.createElement("tr");
                let date = document.createElement("td");
                let event_type = document.createElement("td");
                let location = document.createElement("td");
                let total = document.createElement("td");
                let date_lst = event._id.date.split("-");
                date.innerHTML = `${date_lst[1].trim("0")}/${date_lst[2]}/${date_lst[0]}`;
                event_type.innerHTML = event._id.event;
                console.log(event._id.location)
                location.innerHTML = `${event._id.location["town"]}, ${event._id.location["state"]} ${event._id.location["postcode"]}`;
                total.innerHTML = event.total;
                date.height = event_type.height = location.height = total.height = 30;
                row.appendChild(date);
                row.appendChild(event_type);
                row.appendChild(location);
                row.appendChild(total);
                tbodydata.appendChild(row);
              }
            }
            socket.on("events", (events) => refreshData(events));

            window.addEventListener('load', function () {
              fetch("/api/v1/get-agg-events").then(response => response.json()).then(data => refreshData(data));
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
